<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Page App</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login/password" method="post">
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit" class="contrast">Sign in</button>
    </form>
  </body>
</html>
